<div class="btn right"><%=link_to 'Return to Home', home_path%></div>
<h1 class="center">Preferences</h1>
<div class="list" id="apps" data-url="<%= sort_preferences_path%>">
  <% Preference.all.order(:position).each do |p|%>
    <%if p.user_id==current_user.id%>
      <div class="option" style=<%="background-color:#{p.application.color.downcase}"%> id=<%=dom_id(p)%>>
        <%if p.active%>
            <div class="activation right"><%=link_to 'Deactivate', preferences_update_path(preference: p, id: p.id, active: false) %></div>
        <%else%>
            <div class="activation right"><%=link_to 'Activate', preferences_update_path(preference: p, id: p.id, active: true)%></div>
        <%end%>
        <div class="description center"><%=p.application.description%></div>
        <div class="link center"><%=p.application.name%></div>
      </div>
    <%end%>
  <% end %>
</div>
